<nav>
  <div class="wrapper">
    <div class="nav-content">
      <h2><a href="/">Members Only</a></h2>
      <ul>
        <% if(locals.currentUser){ %>
          <li><a href="/">Messages</a></li>
          <span>|</span>
          <li><a href="/">Account</a></li>
        <% }else { %>
          <li><a href="/">Messages</a></li>
          <span>|</span>
          <li><a href="/sign-up">Sign Up</a></li>
          <span>|</span>
          <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
