<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/account.css" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <main>
      <div class="wrapper">
        <div class="content">
          <h2 class="welcome-message">
            Welcome back, <%= locals.currentUser.first_name %>!
          </h2>

          <div class="account-actions">
            <form action="/account/logout" method="POST">
              <button type="submit" class="log-out-btn">Log Out</button>
            </form>

            <a href="/account/upgrade/member" class="action-link"
              >Member Upgrade</a
            >

            <a href="/account/upgrade/admin" class="action-link"
              >Admin Upgrade</a
            >

            <form action="/account/delete" method="POST">
              <button type="submit" class="delete-btn">Delete Account</button>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
