<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <main>
      <h2>Main</h2>
      <h2>Index page - messages</h2>
      <% if(locals.currentUser) { %>
        <p>hello <%= currentUser.first_name %></p>
      <% } %>
    </main>
  </body>
</html>
