<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>

    <main>
      <div class="wrapper">
        <div class="content">
          <h2 class="title">Messages</h2>

          <% if(locals.currentUser) { %>
            <a href="/message/new" class="new-message-link">New Message</a>
          <% } %>

          <% if(messages.length > 0){  %>
              <div class="messages-container">
                <% messages.map(message => { %>
                  <!-- TODO: design how the message will look -->
                  <!-- TODO: design how the message will look -->
                  <!-- TODO: design how the message will look -->
                <% }) %>
              </div>
            <% }else { %>
              <h3 class="empty-message">There are currently no messages to display.</h3>
            <% } %>
          
        </div>
      </div>
    </main>
  </body>
</html>
