:root {
  --background-dark: #11151c;
}

body {
  background-color: var(--background-dark);
  font-family: monospace;
}

/* Change this later */
body {
  color: white;
}

.error-icon-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.error-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-top: 30px;
}

.error-text h2 {
  font-size: 2rem;
}

.error-text a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  border: 3px solid white;
  padding: 20px;
}

.error-text a:hover {
  background-color: white;
  color: var(--background-dark);
}
