:root {
  --background-dark: #11151c;
}

body {
  background-color: var(--background-dark);
  font-family: monospace;
}

main .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.new-message-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  border: 2px solid white;
  padding: 15px 20px;
}

.new-message-link:hover {
  background-color: white;
  color: var(--background-dark);
}

.new-message-link:active {
  transform: translateY(3px);
}

.empty-message {
  font-size: 1.5rem;
  color: white;
  font-style: italic;
  margin-top: 10px;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  min-width: 350px;
  max-width: 500px;
}

.message {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  min-height: 150px;
  color: var(--background-dark);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message-title {
  font-size: 1.5rem;
}

.message-body {
  font-size: 1rem;
}

.message-info {
  margin-top: auto;
  text-align: end;
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
