:root {
  --background-dark: #11151c;
}

body {
  background-color: var(--background-dark);
  font-family: monospace;
}

main .wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.title {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.new-message-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  border: 2px solid white;
  padding: 15px 20px;
}

.new-message-link:hover {
  background-color: white;
  color: var(--background-dark);
}

.new-message-link:active {
  transform: translateY(3px);
}

.empty-message {
  font-size: 1.5rem;
  color: white;
  font-style: italic;
  margin-top: 10px;
}
